/Tachometer-cppcheck-build-dir
*.o
/out
/_build

.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
out/
_build/Tachometer/default/.cache/clangd/index/Handler.c.EAFBF83EFCB9AF1F.idx
_build/Tachometer/default/.cache/clangd/index/Handler.h.ADFE075D09A53196.idx
_build/Tachometer/default/.cache/clangd/index/IO.c.FCDB36633DC629B8.idx
_build/Tachometer/default/.cache/clangd/index/IO.h.B4A96F228E55CAF9.idx
_build/Tachometer/default/.cache/clangd/index/Main.c.C555594648A478C5.idx
_build/Tachometer/default/.cache/clangd/index/Monitor.c.D6903A559C31C366.idx
_build/Tachometer/default/.cache/clangd/index/SerialPort.c.88C4CF5513BDD3DC.idx
_build/Tachometer/default/.cache/clangd/index/SerialPort.h.83CD806152469DC4.idx
_build/Tachometer/default/.cache/clangd/index/TachoCalc.c.CA9E423F069B716F.idx
_build/Tachometer/default/.cache/clangd/index/Version.c.8A5A683C11143D46.idx
_build/Tachometer/default/CMakeFiles/Tachometer_default_default_XC8_compile.dir/C_/Users/Bengt_Palmkvist/Documents/Project/Tachometer/Debug.c.o
_build/Tachometer/default/CMakeFiles/Tachometer_default_default_XC8_compile.dir/C_/Users/Bengt_Palmkvist/Documents/Project/Tachometer/Handler.c.o
_build/Tachometer/default/CMakeFiles/Tachometer_default_default_XC8_compile.dir/C_/Users/Bengt_Palmkvist/Documents/Project/Tachometer/IO.c.o
_build/Tachometer/default/CMakeFiles/Tachometer_default_default_XC8_compile.dir/C_/Users/Bengt_Palmkvist/Documents/Project/Tachometer/Main.c.o
_build/Tachometer/default/CMakeFiles/Tachometer_default_default_XC8_compile.dir/C_/Users/Bengt_Palmkvist/Documents/Project/Tachometer/main2.c.o
_build/Tachometer/default/CMakeFiles/Tachometer_default_default_XC8_compile.dir/C_/Users/Bengt_Palmkvist/Documents/Project/Tachometer/Monitor.c.o
_build/Tachometer/default/CMakeFiles/Tachometer_default_default_XC8_compile.dir/C_/Users/Bengt_Palmkvist/Documents/Project/Tachometer/SerialPort.c.o
_build/Tachometer/default/CMakeFiles/Tachometer_default_default_XC8_compile.dir/C_/Users/Bengt_Palmkvist/Documents/Project/Tachometer/SysTimer.c.o
_build/Tachometer/default/CMakeFiles/Tachometer_default_default_XC8_compile.dir/C_/Users/Bengt_Palmkvist/Documents/Project/Tachometer/TachoCalc.c.o
_build/Tachometer/default/CMakeFiles/Tachometer_default_default_XC8_compile.dir/C_/Users/Bengt_Palmkvist/Documents/Project/Tachometer/Version.c.o
